build*/
*/build*/
*/cmake-build-*/
CMakeFiles/
CMakeCache.txt
Makefile
*.cmake
*.a
*.o
*.obj
*.pdb
*.ilk
*.lib
*.qrc.dep
*.qmlc
*.jsc
*.qmlproject.user
*.qtcreator.user*
*.pro.user*
*.exe
*.dll
qml/
plugins/
platforms/
.DS_Store
Thumbs.db
*.log
Desktop_Qt_6_10_1_MinGW_64_bit-Release/
Desktop_Qt_6_10_1_MinGW_64_bit-Debug/